/* *{
    margin:0;
    box-sizing: border-box;
} */

.logo>img{
    width:20%;
    margin-top:20px;
}
.logo{
    width:1100px;
    background-image:url('../img/pattern.png');
    background-size:contain;
    background-color: #4ea0ff;
}
.margine-sinistro{
    margin-left:100px;
    background-color: red;
}
.tittle{
    font-size:30px;
    font-weight: bold;
    margin-top:20px
}
.subtittle{
    color:gray;
}
#details{
    color:#4ea0ff;
}
.photo{
    margin-left:5px;
    margin-top: 20px;
}
#descrizione{
    font-size:12px;
}
.text-part{
    width: 1100px;
    margin-top:20px;
}
.lista{
    width:1100px;
}
.uno{
    margin-top:20px;
}
.colore-riga{
    width:1100px;
    background-color: #22a9e5;
    margin-top:20px;
}
.thead{
    display: inline-block;
    width:350px;
    height:20px;
    font-weight: bold;
    color:white;
}
.colore-riga-seconda{
    width:1100px;
    background-color: #b2e5f2;
}
.due{
    font-weight: normal;
    color:black;
   
}
.centro{
    position:relative;
    bottom:20px;
}
.colore-riga-terza{
    width:1100px;
    background-color:white;
}