.sfondo{
    background: #4ea0ff url('../img/pattern.png');
    background-size: contain;
}
.sfondo img{
    width:15%;
    margin-top: 20px;
}
.margine{
   width: 1000px;
   margin:auto;
}
h1{
    width:80%;
    margin-bottom: 0px;
}
.tittle>div{
    font-size: 14px;
    color:gray;
}
#subtittle{
    color:#4ea0ff ;
}